body {
    background-color: #494848;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 20px;
    height: 100vh;
    width: 100vw;
    background-image: url(./pexels-ollivves-931018.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}




.showcase {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
    border-style: none;
    border-color: #838383;
    background-color: rgba(248, 248, 248, 0.6);
    border-radius: 6px;
    width: 50%;
    min-width: 350px;
    resize: horizontal;
    height: 70%;
    justify-self: center;
    gap: 4px;
}



.menu {
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
    background-color: rgb(77, 94, 74, .8);
    box-shadow: 0px 5px 30px -.5px rgb(94, 99, 100);

}

.menu>button {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    background-color: rgba(252, 252, 252, 0.788);
    border-top-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgba(204, 204, 203, 0.4);
    box-shadow: 6px 2px 10px 1px rgb(95, 101, 102, .2);
    width: 65px;
    height: 25px;
    font-size: small;
}

.button0 {
    border-top-left-radius: 2px;
}

button.button2 {
    border-bottom-right-radius: 5px;
}



.menu>button:hover {
    cursor: pointer;
    box-shadow: 2px 3px 4px 1px rgb(82, 87, 88, .7);
    background-color: rgba(255, 255, 255, 0.808);
}

.display {
    grid-area: 2 / 1 / 5 / 2;
}

.contact {
    grid-area: 2 / 1 / 3 / 2;
    background-color: white;
    border-radius: 20px;
}

.contact>h2 {
    text-align: left;
    margin-left: 10px;
    color: black;
}

.about {
    grid-area: 2 / 1 / 4 / 2;
    background-color: white;
    border-radius: 20px;
}

.about>h2 {
    text-align: left;
    margin-left: 10px;
    color: black;
}

.credits {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(41, 41, 41, .2);
    color: white;
    text-align: left;
    font-size: smaller;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}