
body {
    background-color: #494848;
    color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 20px;
    height: 100vh;
    width: 100vw;
    background-image: url(./pexels-mattdvphotography-2606395.jpg);
    background-size: cover;
    background-repeat: no-repeat;
      /* Add the blur effect */
    backdrop-filter: blur(5px);
}




.showcase {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
    border-style: none;
    border-color: #838383;
    background-color:rgba(225, 225, 225, .5);
    border-radius: 6px;
    width: 50%;
    min-width: 350px;
    resize: horizontal;
    overflow: auto;
    height: 70%;
    justify-self: center;
}



.menu {
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
    background-color: #6d7c6a;
    align-items: end;
    justify-content: center;

}

.menu>button {
    text-align: center;
    width: 60px;
    height: 35px;
}

.display {
    grid-area: 2 / 1 / 5 / 2;
}
