
body {
    background-color: #494848;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 20px;
    height: 100vh;
    width: 100vw;
    background-image: url(./pexels-mattdvphotography-2606395.jpg);
    background-size: cover;
    background-repeat: no-repeat;
      /* Add the blur effect */
    backdrop-filter: blur(5px);
}




.showcase {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
    border-style: none;
    border-color: #838383;
    background-color:rgba(235, 234, 234, 0.2);
    border-radius: 6px;
    width: 50%;
    min-width: 350px;
    resize: horizontal;
    overflow: auto;
    height: 70%;
    justify-self: center;
}



.menu {
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
    background-color: rgb(77, 94, 74, .4);
    align-items: end;
    justify-content: center;
    box-shadow: 2px 1px 6px 1px rgb(94, 99, 100);

}

.menu>button {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    background-color: rgba(180, 179, 179, 0.5);
    border-style: solid;
    border-bottom-style: none;
    border-width: 1px;
    border-color: rgb(211, 218, 209, .4);
    box-shadow: 2px 2px 2px 1px rgb(95, 101, 102, .2);
    margin-bottom: 5px;
    width: 65px;
    height: 25px;
    margin-bottom: 0px;
    font-size: small;
}



.menu>button:hover {
    cursor: pointer;
    box-shadow: 2px 3px 4px 1px rgb(82, 87, 88,.7);
}

.display {
    grid-area: 2 / 1 / 5 / 2;
}
